body{
    text-align: center;
}
h2{
    color: white;
    text-shadow: 0 0 5px red;
}
em{
    font-variant: small-caps;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 25px;
}
.doan-1{
    color: red;
}
.doan-2{
    color: blue;
}
.doan-3{
    color: green;
}
strong{
    color: brown;
}