table {
  border-collapse: collapse;
  text-align: center;
  width: 75%;
  line-height: 20px;
}

td {
  line-height: 30px;
  border: 1px solid rgb(248, 93, 93);
}
tr:nth-child(odd){
  background-color:#eee;
}
tr:nth-child(even){
  background-color:white;
}

tr:nth-child(1) {
  background-color: #33CCCC;
}

tr:nth-child(2) {
  background-color: #33CCCC;
}