.col-25 {
    width: 21%;
    float: left;
}

.prod {
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
}

.prod>.name {
    font-variant: small-caps;
    color: rgb(17, 0, 255);
}

.prod>.image {
    width: 150px;
    height: 145px;
    margin-bottom: 10px;
}

.prod>.price {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-family: Impact;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

.prod>.icons {
    position: absolute;
    right: 6px;
    bottom: 5px;
    width: 20px;
}

.prod>.new-icon {
    position: absolute;
    top: 0px;
    right: 0px;
}